<!DOCTYPE html>
<html>
<head>
  <style>
    a:link {
      font: bold 11px Arial;
      text-decoration: none;
      background-color: #EEEEEE;
      color: #333333;
      padding: 2px 6px 2px 6px;
      border-top: 1px solid #CCCCCC;
      border-right: 1px solid #333333;
      border-bottom: 1px solid #333333;
      border-left: 1px solid #CCCCCC;
    }
  </style>
</head>
<body>

<div style="font-size: x-large;">All Products</div>
<a href="/insert">Insert New Product</a><br><br><br>

{{range .}}
  ID: {{.ID}} Name: {{.Name}}<br>
  Price: {{.Price}}<br>
  Description: {{.Description}}<br>
  <a href="/update/?idproducts={{.ID}}">Edit</a>
  <a href="/delete/?idproducts={{.ID}}">Delete</a>
  <br><br>
{{end}}


</body>
</html>