<!DOCTYPE html>
<html>
  <style>
    /*
    #dataID {
      background-color:chartreuse;
    }
    */
  </style>
<body>

<h2>HTML Form Using Post Method</h2>
  <!-- mouse click or finger tapping will bring the element into focus-->
  <!-- id used to target element with css, javascript, and label tags -->
  <!-- name used to target element to retrieve value -->

<form action="/processget" method="POST">
  <label for="userID">Username:</label><br>
  <input type="text" id="userID" name="username" value="Jane"><br>
  <label for="numberID">Number (1-10):</label><br>
  <input type="number" id="numberID" name="numberName" min="1" max="10"><br>
  <label for="myFltID">Float64 (between 1 and 5):</label><br>
  <input type="number" id="myFltID" name="myFltName" min="1" max="5" step=".00001"><br>
  <input type="radio" id="yesUpID" name="upName" value="true">
  <label for="yesUpID">Recieve Updates</label><br>
  <input type="radio" id="noUpID" name="upName" value="false">
  <label for="noUpID">Maybe Later</label><br>
  <input type="submit" value="Submit">
</form> 
</body>
</html>