<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Form</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2>HTML Form</h2>

        <form action="/form" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="Carl"><br>
        <label for="food">Favorite food:</label><br>
        <input type="text" id="food" name="food" value="pizza"><br><br>
        <input type="submit" value="Submit">
        </form> 
    </body>
</html>