<!DOCTYPE html>
<html>
<body>

<h2>Login</h2><br>

<form action="/account/login/verify" method="POST">
    <label for="username">Name:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Submit">
</form> 
<br>
<br>
{{if .UserMessage}}
    {{.UserMessage}}
{{end}}
<br>
<a rel="noopener noreferrer" href="/account/profile">profile</a><br>
<a rel="noopener noreferrer" href="/account/new">register</a><br>
<a rel="noopener noreferrer" href="/account/forgotpw">forgot/change password</a><br>




</body>
</html>