<!DOCTYPE html>
<html>
<body>

<h2>Enter email address associated with account</h2>
<br>
<form action="/forgotpwval" method="POST">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email"><br>
    <input type="submit" value="Send Reset Email">
</form>
<br>
{{if .ErrMessage}}
    {{.ErrMessage}}
{{end}}
<br><br>
<h6>If no email is received in a few minutes, please check email address was entered correctly and please try again.</h6>
<h6>Email recovery emails are valid for 45 minutes.</h6>
</body>
</html>